<section class="maintenance-request">
    <div class="panel p-6">
        <div class="head-section">
            <h2 class="font-bold">{{'Equipments.Maintenance_Request.titleRequests' | translate }}</h2>
        </div>

        <form class="grid grid-cols-12 gap-3" [formGroup]="maintenanceRequestForm" >
            <!-- Switch Equipment Type -->
            <div class="equipment-Switch md:col-span-6 col-span-12">
                <label class="text-[16px]">{{ 'Equipments.Add_Equipments.EquipmentTypeLabel' | translate }}</label>
                <ng-select
                    [items]="allEquipments"
                    formControlName="equipmentId"
                    bindLabel="model"
                    bindValue="id"
                    [clearable]="false"
                    [searchable]="true"
                    [placeholder]="'Equipments.Add_Equipments.EquipmentTypePlaceholder' | translate"
                    class="custom-multiselect"
                >
                </ng-select>
            </div>

            <!-- Switch Priority -->
            <div class="equipment-Switch md:col-span-6 col-span-12">
                <label class="text-[16px]">{{ 'Equipments.Maintenance_Request.PriorityLabel' | translate }}</label>
                <ng-select
                    [items]="priority"
                    formControlName="priority"
                    [clearable]="false"
                    [searchable]="true"
                    [placeholder]="'Equipments.Maintenance_Request.PriorityPlaceholder' | translate"
                    class="custom-multiselect"
                >
                </ng-select>
            </div>

            <!-- Maintenance Description Equimpent -->
            <div class="equipment-maintenanceDescription col-span-12">
                <label class="text-[16px]">{{ 'Equipments.Maintenance_Request.MaintenanceDetailsLabel' | translate }}</label>
                <textarea formControlName="maintenanceDescription" class="form-input" name="maintenanceDescription" id="maintenanceDescription" [placeholder]="'Equipments.Maintenance_Request.MaintenanceDetailsPlaceholder' | translate" ></textarea>
            </div>

            <!-- Buttons Equimpent -->
            <div class="btn-submit col-span-12 flex justify-center mt-3">
                 <button class="btn btn-primary" type="button" (click)="submitRequest()">
                    {{ 'Equipments.Maintenance_Request.RequestBtn' | translate }}
                </button>
            </div>
        </form>


        <div class="mb-4 mt-5">
            <h3 class="font-semibold text-[25px]">{{'Equipments.Maintenance_Request.TableRequestTitle' | translate }}</h3>
        </div>
        <div class="datatable text-center ">
            <ng-datatable
                class="text-center"
                [rows]="allRequests"
                [columns]="translatedCols"
                [search]="search"
                [sortable]="true"
                [paginationInfo]="'Equipments.View_Equipments.ShowPaginationInfo' | translate"
                skin="whitespace-nowrap table-hover"
                firstArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M13 19L7 12L13 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M16.9998 19L10.9998 12L16.9998 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                lastArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M11 19L17 12L11 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> <path opacity="0.5" d="M6.99976 19L12.9998 12L6.99976 5" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg> '
                previousArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M15 5L9 12L15 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
                nextArrow='<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4.5 h-4.5 rtl:rotate-180"> <path d="M9 5L15 12L9 19" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
            >

                <ng-template slot="createdDate" let-value="data">
                    <div class="flex flex-col justify-center items-center gap-1">
                        <span>{{ value.createdDate | date:'dd/MM/yyyy' }}</span>
                    </div>
                </ng-template>

                <ng-template slot="maintenanceResponse" let-value="data">
                    <div class="flex flex-col justify-center items-center gap-1">
                        <span>
                            {{ value.maintenanceResponse || '-'}}
                        </span>
                    </div>
                </ng-template>

                <ng-template slot="status" let-value="data">
                    <div class="flex flex-col justify-center items-center gap-1">
                        <span [ngClass]="{
                            'text-warning font-bold' : value.status =='Pending',
                            'text-success font-bold' : value.status =='Responded',
                        }"> {{value.status}} </span>
                    </div>
                </ng-template>
            </ng-datatable>
        </div>

    </div>
</section>
