<section class="add-equipment">
    <div class="panel p-6">
        <div class="head-section">
            @if(equipmentId){
                <h2 class="font-bold">{{'Equipments.Add_Equipments.titleUpdate' | translate }}</h2>
            } @else {
                <h2 class="font-bold">{{'Equipments.Add_Equipments.titleAdd' | translate }}</h2>
            }
        </div>

        <div class="grid grid-cols-12 gap-3">
            <div class="lg:col-span-3 col-span-12">
                <!-- Image Equipment -->
                <div class="equipment-image">
                    <label class="text-[16px]">
                    {{ 'Equipments.Add_Equipments.ImageEquipmentLabel' | translate }}
                    </label>

                    <input
                        #fileInput
                        type="file"
                        class="form-input"
                        accept="image/*"
                        (change)="onImageSelected($event)"
                    />
                </div>

                @if(imagePreview){
                    <div class="view-image text-center mt-3">
                        <img
                        [src]="imagePreview"
                        alt="Equipment Image"
                        class="w-100 object-contain rounded"
                        />
                    </div>
                } @else {
                    <h6 class="text-center mt-5 pt-5">{{'Equipments.Add_Equipments.ImageFileMsg' | translate}}</h6>
                }

            </div>

            <div class="lg:col-span-9 col-span-12">
                <form class="grid grid-cols-12 gap-3" [formGroup]="equpimentsForm" >
                    <!-- Switch Equipment Type -->
                    <div class="equipment-Switch col-span-6">
                        <label class="text-[16px]">{{ 'Equipments.Add_Equipments.EquipmentTypeLabel' | translate }}</label>
                        <ng-select
                            [items]="equipmentType"
                            formControlName="EquipmentType"
                            [clearable]="false"
                            [searchable]="true"
                            [placeholder]="'Equipments.Add_Equipments.EquipmentTypePlaceholder' | translate"
                            class="custom-multiselect"
                        >
                        </ng-select>
                    </div>

                    <!-- Year Of ManuFacture Equimpent -->
                    <div class="equipment-yearOfManufacture col-span-6">
                        <label class="text-[16px]">{{ 'Equipments.Add_Equipments.ManuFactureLabel' | translate }}</label>
                        <ng-select
                            [items]="years"
                            formControlName="YearOfManufacture"
                            [clearable]="false"
                            [searchable]="true"
                            [placeholder]="'Equipments.Add_Equipments.ManuFacturePlaceholder' | translate"
                            class="custom-multiselect"
                        >
                        </ng-select>
                    </div>

                    <!-- Chassis Number Equimpent -->
                    <div class="equipment-chassisNumber col-span-6">
                        <label class="text-[16px]">{{ 'Equipments.Add_Equipments.ChassisNumberLabel' | translate }}</label>
                        <input formControlName="ChassisNumber" class="form-input" type="text" [placeholder]="'Equipments.Add_Equipments.ChassisNumberPlaceholder' | translate" />
                    </div>

                    <!-- Asset Number Equimpent -->
                    <div class="equipment-assetNumber col-span-6">
                        <label class="text-[16px]">{{ 'Equipments.Add_Equipments.AssetNumberLabel' | translate }}</label>
                        <input formControlName="AssetNumber" class="form-input" type="text" [placeholder]="'Equipments.Add_Equipments.AssetNumberPlaceholder' | translate "/>
                    </div>

                    <!-- Brand Equimpent -->
                    <div class="equipment-brand col-span-6">
                        <label class="text-[16px]">{{ 'Equipments.Add_Equipments.BrandARLabel' | translate }}</label>
                        <input formControlName="BrandAr" class="form-input" type="text" [placeholder]="'Equipments.Add_Equipments.BrandARPlaceholder' | translate" />
                    </div>

                    <div class="equipment-brand col-span-6">
                        <label class="text-[16px]">{{ 'Equipments.Add_Equipments.BrandENLabel' | translate }}</label>
                        <input formControlName="BrandEn" class="form-input" type="text" [placeholder]="'Equipments.Add_Equipments.BrandENPlaceholder' | translate" />
                    </div>

                    <!-- Model Equimpent -->
                    <div class="equipment-model col-span-6">
                        <label class="text-[16px]">{{ 'Equipments.Add_Equipments.ModelARLabel' | translate }}</label>
                        <input formControlName="ModelAr" class="form-input" type="text" [placeholder]="'Equipments.Add_Equipments.ModelARPlaceholder' | translate" />
                    </div>

                    <div class="equipment-model col-span-6">
                        <label class="text-[16px]">{{ 'Equipments.Add_Equipments.ModelENLabel' | translate }}</label>
                        <input formControlName="ModelEn" class="form-input" type="text" [placeholder]="'Equipments.Add_Equipments.ModelENPlaceholder' | translate" />
                    </div>

                    <!-- ForSale Equipments -->
                    <div class="equipment-forSale col-span-6">
                        <div class="flex items-center gap-2">
                            <span>{{'Equipments.Add_Equipments.ForSaleLabel' | translate}}</span>

                            <label class="relative h-6 w-12">
                            <input type="checkbox" formControlName="ForSale" class="custom_switch peer absolute z-10 h-full w-full cursor-pointer opacity-0" />

                            <span
                                class="block h-full rounded-full bg-[#ebedf2]
                                before:absolute before:bottom-1 before:left-1 before:h-4 before:w-4
                                before:rounded-full before:bg-white before:transition-all before:duration-300
                                peer-checked:bg-primary peer-checked:before:left-7
                                dark:bg-dark dark:before:bg-white-dark dark:peer-checked:before:bg-white">
                            </span>
                            </label>
                        </div>

                        @if (equpimentsForm.get('ForSale')?.value) {
                            <input formControlName="SalePrice" type="number" min="0" [placeholder]="'Equipments.Add_Equipments.ForSalePlaceholder' | translate" class="form-input mt-2" />
                        }
                    </div>

                    <!-- ForRent Equipments -->
                    <div class="equipment-forSale col-span-6">
                        <div class="flex items-center gap-2">
                            <span>{{'Equipments.Add_Equipments.ForRentLabel' | translate}}</span>

                            <label class="relative h-6 w-12">
                                <input type="checkbox" formControlName="ForRent" class="custom_switch peer absolute z-10 h-full w-full cursor-pointer opacity-0" />

                                <span class="block h-full rounded-full bg-[#ebedf2] before:absolute before:bottom-1 before:left-1 before:h-4 before:w-4 before:rounded-full before:bg-white before:transition-all before:duration-300 peer-checked:bg-primary peer-checked:before:left-7 dark:bg-dark dark:before:bg-white-dark dark:peer-checked:before:bg-white"></span>
                            </label>
                        </div>

                        @if (equpimentsForm.get('ForRent')?.value) {
                            <input formControlName="RentPrice" type="number" min="0" [placeholder]="'Equipments.Add_Equipments.ForRentPlaceholder' | translate" class="form-input mt-2" />
                        }
                    </div>


                    <!-- Buttons Equimpent -->
                    <div class="btn-submit col-span-12 flex justify-center mt-3">
                        @if(equipmentId){
                            <button class="btn btn-success" type="button" (click)="updateEquipment()">
                                {{ 'Equipments.Add_Equipments.UpdateBtnEquipments' | translate }}
                            </button>
                        } @else {
                            <button class="btn btn-primary" type="button" (click)="submitEqupimentsForm()">
                                {{ 'Equipments.Add_Equipments.AddBtnEquipments' | translate }}
                            </button>
                        }
                    </div>
                </form>
            </div>
        </div>


    </div>
</section>
